.card{
  border: 1px solid hsl(0, 2%, 48%);
  padding: 10px;
  margin: 10px;
  max-width: 450px;
  display: inline-block;
  box-shadow: 2px 2px hsl(0, 1%, 44%);
  min-height: 300px;
  text-align: center;
  min-width: 300px;
  display: inline-block;
}


.card--image{
  max-width: 50%;
  max-height: 50%;
  border-radius: 5%;
  margin: 10px;
}